body
{
  margin: 0 !important;
}

/*carousel sliders*/
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

#featured-carousel .carousel-item {
  min-height: 450px !important;
  background-color: #fff;
}

.wrapper {
  margin: 3rem 0;
}

#best-seller {
  display: flex;
  align-items: center;
}

#best-seller a {
  width: 3.5rem;
  text-align: center;
  cursor: pointer;
}

#best-seller-container {
  flex: 1;
  display: flex;
  margin: 0.5rem 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

#best-seller-container::-webkit-scrollbar {
  display: none;
}

#best-seller-container .card {
  margin-right: 0.5rem;
}

#best-seller-title {
  padding: 0.5rem 3.5rem;
  margin: 0;
}

/*footer*/
.top-link {
  color: #ffffff;
  text-decoration: none;
}
.top-link:hover {
  color: #ffffff;
  text-decoration: underline;
  border-bottom: grey;
}

.card div {
  color: #000000;
}
.card-title {
  padding-left: 5vh;
  float: left;
}

.list-group-horizontal ul {
  float: left;
}

.list-group-horizontal ul li {
  padding-left: 5vh;
  color: #ffffff;
  font-size: 3.5vh !important;
}
