body
{
    margin: 0 !important;
    background-color: #eeeeee;
}

/*Hide scrollbars from chrome, safari and firefox*/
.side-navbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .side-navbar {
    -ms-overflow-style: none;
  }

  .filters
  {
    height: 100%;
    margin-left: 3vh;
    margin-right: 2vh;
    padding: 1rem;
    user-select: none;
  }

  h5::after
  {
    content: '-';
    /* cursor: pointer; */
  }

.side-navbar
{
    overflow: scroll;
    position: sticky;
    top: 0;
    color: #616C6F;
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    width: 40vh;
    border-right: 2px solid #d0d0d0;
}

.filters ul li
{
  display: block;
  list-style: none;
  transform-origin: center;
  transition: transform .1s ease-in;
}
.filters ul li:hover
{
    cursor: pointer;
    transform: scale(1.1);

    /* border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: #616C6F; */
}

.dropdown-container {
    display: none;
    padding-left: 3vh;
}

/*styling color buttons*/

.colour button
{
  border: none;
  color: white;
  padding: 2vh;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  transform-origin: center;
  transition: transform 0.1s ease-in .1s;
}
.colour button:hover
{
    transition: transform 0.1s ease-in 0s;
    transform: scale(.75);
}

/*price selector*/
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #282828;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #282828;
    cursor: pointer;
  }
  /* for search and main div */
main#main-content.main-wrapper{
  display: flex;
  flex-direction: row;
}


.search-div{
  flex: 1;
  min-height: 100vh;
}

.search-div .no-srh-result{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.search-div .no-srh-result p{
  color: #f0f0f0;
  text-align: center;
  font-weight: bold;
  font-size: 3.5rem;
  user-select: none;
}