.srh-card{
  min-height: 12rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: .3rem;
  border: 1px solid #bbb;
  background-color: #eee;
  color: #333;
  cursor: pointer;
  transition: transform .1s ease-in;
}

.srh-card:hover{
  border-color: #f51165;
  transform: scale(1.01);
}

.srh-card-title::first-letter{
text-transform: uppercase;
}

.srh-card-title{
  margin: 0 0 1rem 0;
}
.srh-card p{
  margin: 0;
}

.srh-card-price{
  color: #006400;
}