.srh-card{
  padding: 1rem;
  margin: 1rem;
  border-radius: .3rem;
  border: 1px solid #bbb;
  background-color: #eee;
  color: #333;
  cursor: pointer;
}

.srh-card-title::first-letter{
text-transform: uppercase;
}

.srh-card-title{
  margin: 0 0 1rem 0;
}
.srh-card p{
  margin: 0;
}

.srh-card-price{
  color: #006400;
}