.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

body{
  background-color: #eee;
}

#featured-carousel .carousel-item {
  min-height: 450px !important;
  background-color: #fff;
}

.wrapper{
  margin: 3rem 0;
}

#best-seller{
  display: flex;
  align-items: center;
}

#best-seller a{
  width: 3.5rem;
  text-align: center;
}

#best-seller-container{
  flex: 1;
  display: flex;
  margin: .5rem 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

#best-seller-container::-webkit-scrollbar{
  display: none;
}

#best-seller-container .card{
  margin-right: .5rem;
}

#best-seller-title {
  padding: .5rem 3.5rem;
  margin: 0;
}